html{
  font-size: 16px;
}

.container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 3px;
}

nav{
  display: inline-block;
}

header{
  background-color: pink;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

nav{
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

footer{
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 9;
  grid-row-end: 11;
}

